@using ScottyApps.ScottyBlogging.Resx
@{
    ViewBag.Title = "Edit";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Scripts/blog/articleEdit.js")"></script>
}

<h2>@ViewBag.ArticleTitle</h2>

@* TODO need to plug in more things, such as Tags *@

@using (Html.BeginForm("Edit", "Article", FormMethod.Post))
{
    @Html.Hidden("articleId", (string)ViewBag.ArticleId)
    <div>
        @Html.Label("title", ScottyBloggingResx.lable_Article_Title)
        @Html.TextBox("title", (string)ViewBag.ArticleTitle)
    </div>
    <div>
        <textarea class="ckeditor" cols="100" id="articleEditor" name="articleEditor" rows="10">@ViewBag.ArticleContent</textarea>
        <button style="float: right;">submit</button>
    </div>
}